  <footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 footer-column">
                <h3>Email</h3>
                <a href="https://asmpos.com/"></a>
            </div>

            <div class="col-md-6 footer-column">
                <h3>Contact</h3>
                <p>+216 74 415 055</p>
            </div>
        </div>
        <hr style="margin-top: 60px;">
    </div>
    <div class="text-center" style="margin-top: 60px;">
        <p>
            Made with <i class="icon ion-heart"></i> by <a href="https://www.thecoducer.com/" target="_blank">The Coducer</a>
        </p>
    </div>
</footer>